<div class='info'>
<div class='rep'>
<li class='Rep'><%= "Your Representative in the House is #{@district.rep_name}" %></li>
<li class='Rep'><%= "Your House district is #{@district.rep_state}-#{@district.rep_district}" %></li>
<li class='Rep'><%= "Their phone number is #{@district.rep_phone}" %></li>
<a href=<%= @district.rep_link%>>Click here for more info</a>
</div>
<br></br>
<div class='sen1'>
<li><%= "One of your Senators is #{@district.sen1_name}" %></li>
<li><%= "Their seat is the #{@district.sen1_seat}" %></li>
<li><%= "Their phone number is #{@district.sen1_phone}" %></li>
<a href=<%= @district.sen1_link%>>Click here for more info</a>
</div>
<br></br>
<div class='sen2'>
<li><%= "Your other Senator is #{@district.sen2_name}" %></li>
<li><%= "Their seat is the #{@district.sen2_seat}" %></li>
<li><%= "Their phone number is #{@district.sen2_phone}" %></li>
<a href=<%= @district.sen2_link%>>Click here for more info</a>
</div>
<br></br>
<li class='link'><%= link_to "Zip Code Index", districts_path %>
<li class='link'><%= link_to "Enter New Zip Code", new_district_path %>
</div>
<div class='link'><%= form_for([@district], method: 'delete') do |f| %>
  <%= f.submit 'Delete Zip', class: 'delete-button' %>
  <% end %>
