<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Government Official Findr" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h4><a href="#"><%= link_to "Government Official Findr", root_path %></a></h4>
        </li>
      </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="active"><a href="#"><%= link_to "Home", root_path %></a></li>
      <li><a href="#"><%= link_to "Index", states_path %></a></li>
    </ul>
  </section>
</nav>
</div>

    <%= yield %>

  </body>
</html>
